# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
*.pot
*.log
*.egg-info/
dist/
build/
*.egg
*.so
*.lib
*.dll
*.a
*.o
*.ko
*.la
*.lo
*.al
*.dylib
*.mod
*.cmd
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.exe
*.com
*.out
*.app
*.iobj
*.ipdb
*.ilk
*.manifest
*.exp
*.sbr
*.bsc
*.lbr
*.obj
*.pch
*.pdb
*.idb
*.res
*.pch
*.res
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.bak
*.swp
*.bak
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite
*.tlog
*.bak
*.bin
*.dat
*.bz2
*.tbz2
*.tar.bz2
*.log
*.tlog
*.vspscc
*.vssscc
*.bak
*.ncb
*.sdf
*.suo
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.bak
*.swp
*.bak
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite
*.tlog
*.bak
*.bin
*.dat
*.bz2
*.tbz2
*.tar.bz2
*.log
*.tlog
*.vspscc
*.vssscc
*.bak
*.ncb
*.sdf
*.suo
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
united-yeti-408709-82689095f057.json

# Angular
.angular/
node_modules/
dist/
*.log
.env
coverage/
e2e/
protractor.conf.js
*.js.map
*.d.ts
*.ngsummary.json
*.ngfactory.js
Client-Webpage/src/environments/environment.ts
Client-Webpage/src/environments/environment.development.ts

# VSCODE
.vscode